.Input {
    width: 500px;
    height: auto;
    margin: auto;
    font-size: inherit;
    padding: 0 58px 0 28px;
    border-radius: 30px;
    border: none;
    border: 1.3px solid #f2f2f2;
    outline: 0;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
    transition: all 300ms ease;
    margin:0px auto;
}

.Conteiner {
    border-radius: 5px;
    text-align:center;
    position: relative;
  }

  
.col-25 {
    width: 100%;
    margin-top: 6px;
  }
  
  .col-75 {
    width: 100%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=search] {
      width: 100%;
      margin-top: 0;
    }
  }